<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cerberus</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="show_sql">false</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">300</property> 
		<property name="hibernate.c3p0.acquire_increment">1</property>

        <mapping class="com.cerberus.model.usage.bean.ConsumptionProfile"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.Current"></mapping>
        <mapping class="com.cerberus.model.account.bean.Login"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.Outlet"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.OutletOperationMode"></mapping>
        <mapping class="com.cerberus.model.account.bean.PersonalInformation"></mapping>
        <mapping class="com.cerberus.model.security.bean.RfidAuthentication"></mapping>
        <mapping class="com.cerberus.model.security.bean.RfidTag"></mapping>
        <mapping class="com.cerberus.model.security.bean.RfidTagView"></mapping>
        <mapping class="com.cerberus.model.system.bean.Event"></mapping>
        <mapping class="com.cerberus.model.system.bean.EventRecord"></mapping>
        <mapping class="com.cerberus.model.system.bean.Room"></mapping>
        <mapping class="com.cerberus.model.system.bean.RoomType"></mapping>
        <mapping class="com.cerberus.model.system.bean.UserSystemView"></mapping>
        <mapping class="com.cerberus.model.usage.bean.Rule"></mapping>
        <mapping class="com.cerberus.model.usage.bean.RuleTipXref"></mapping>        
        <mapping class="com.cerberus.model.usage.bean.CurrentHourView"></mapping>
        <mapping class="com.cerberus.model.usage.bean.CurrentDayView"></mapping>
        <mapping class="com.cerberus.model.schedules.bean.ScheduledEvent"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.Socket"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.SocketAssignment"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.SocketOperationMode"></mapping>
        <mapping class="com.cerberus.model.outlets.bean.SocketOperationStatus"></mapping>
        <mapping class="com.cerberus.model.system.bean.CerberusSystem"></mapping>
        <mapping class="com.cerberus.model.usage.bean.Tip"></mapping>
        <mapping class="com.cerberus.model.account.bean.User"></mapping>
        <mapping class="com.cerberus.model.account.bean.UserSetting"></mapping>
        <mapping class="com.cerberus.model.account.bean.UserType"></mapping>
        <mapping class="com.cerberus.model.usage.bean.CurrentHour"></mapping>
        
        
    </session-factory>
</hibernate-configuration>
